<section class="section-ourmenu bg2-pattern p-t-115 p-b-120" id="table">
  <div class="container">
    <div class="title-section-ourmenu t-center m-b-22">
      <span class="tit2 t-center">
        Discover
      </span>

      <h3 class="tit5 t-center m-t-2">
        Our Tables
      </h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
    </div>
  </div>
</section>
