<!-- Slide1 -->
<section class="section-slide">
  <div class="wrap-slick1">
    <div class="slick1">
      <div class="item-slick1 item1-slick1" style="background-image: url(assets/images/slide1-01.jpg);">
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
            Welcome to
          </span>

          <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
            Devops Restro
          </h2>


        </div>
      </div>

      <div class="item-slick1 item2-slick1" style="background-image: url(assets/images/master-slides-02.jpg);">
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rollIn">
            Welcome to
          </span>

          <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
            DEVOPS RESTRO
          </h2>
        </div>
      </div>

      <div class="item-slick1 item3-slick1" style="background-image: url(assets/images/master-slides-01.jpg);">
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
            Welcome to
          </span>

          <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
            DEVOPS RESTRO
          </h2>
        </div>
      </div>

    </div>

    <div class="wrap-slick1-dots"></div>
  </div>
</section>

<!-- Welcome -->
<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern" id="menu">
  <div class="container"><div class="title-section-ourmenu t-center m-b-22">
      <span class="tit2 t-center">
        Discover
      </span>

      <h3 class="tit5 t-center m-t-2">
        Our Menu
      </h3>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
        <div class="wrap-item-mainmenu p-b-22">
          <h3 class="tit-mainmenu tit10 p-b-25">
            STARTERS
          </h3>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Pine nut sbrisalona
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $29.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Aenean eu
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.35
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Feugiat maximus neque pharetra
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Sed feugiat
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $12.19
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Consectetur
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $21.89
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Etiam cursus facilisis tortor
            </span>
          </div>
        </div>

        <div class="wrap-item-mainmenu p-b-22">
          <h3 class="tit-mainmenu tit10 p-b-25">
            Drinks
          </h3>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Vivamus pretium
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $29.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Duis pharetra ligula
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.35
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Feugiat maximus neque pharetra
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                In eu dolor
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $53.34
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Feugiat maximus
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $62.45
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-lg-6 p-l-35 p-l-15-lg m-l-r-auto">
        <div class="wrap-item-mainmenu p-b-22">
          <h3 class="tit-mainmenu tit10 p-b-25">
            Main
          </h3>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Duis sed aliquet
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $31.18
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Suspendisse
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $70.25
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Feugiat maximus neque pharetra
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Scelerisque sed
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $36.19
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Etiam cursus facilisis tortor
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Mollis nulla
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.50
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Convallis augue
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $29.15
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Maecenas tristique
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $29.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Feugiat maximus neque pharetra
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Duis tincidunt
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.35
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>
        </div>

        <div class="wrap-item-mainmenu p-b-22">
          <h3 class="tit-mainmenu tit10 p-b-25">
            Dessert
          </h3>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                tempus aliquet
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $9.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                scelerisque
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.35
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Cras maximus
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $5.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Duis pharetra ligula at urna dignissim
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our menu -->

<section class="section-ourmenu bg2-pattern p-t-115 p-b-120" id="table">
  <div class="container">
    <div class="title-section-ourmenu t-center m-b-22">
      <span class="tit2 t-center">
        Discover
      </span>

      <h3 class="tit5 t-center m-t-2">
        Our Tables
      </h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-list">
          <h4><strong>Table No.1</strong></h4>
          <span>Chair: <ins>5</ins></span>
          <span>Availability: <ins>Reserved</ins></span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog -->
<section class="section-blog bg-white p-t-115 p-b-123" id="blog">
  <div class="container">
    <div class="title-section-ourmenu t-center m-b-22">
      <span class="tit2 t-center">
        Latest News
      </span>

      <h3 class="tit5 t-center m-t-2">
        The Blog
      </h3>
    </div>

    <div class="row">
      <div class="col-md-4 p-t-30">
        <!-- Block1 -->
        <div class="blo1">
          <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom pos-relative">
            <a href="blog-detail.html"><img src="images/blog-01.jpg" alt="IMG-INTRO"></a>

            <div class="time-blog">
              21 Dec 2017
            </div>
          </div>

          <div class="wrap-text-blo1 p-t-35">
            <a href="blog-detail.html"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
              Best Places for Wine
            </h4></a>

            <p class="m-b-20">
              Phasellus lorem enim, luctus ut velit eget, con-vallis egestas eros.
            </p>

            <a href="blog-detail.html" class="txt4">
              Continue Reading
              <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 p-t-30">
        <!-- Block1 -->
        <div class="blo1">
          <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom pos-relative">
            <a href="blog-detail.html"><img src="images/blog-02.jpg" alt="IMG-INTRO"></a>

            <div class="time-blog">
              15 Dec 2017
            </div>
          </div>

          <div class="wrap-text-blo1 p-t-35">
            <a href="blog-detail.html"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
              Eggs and Cheese
            </h4></a>

            <p class="m-b-20">
              Duis elementum, risus sit amet lobortis nunc justo condimentum ligula, vitae feugiat
            </p>

            <a href="blog-detail.html" class="txt4">
              Continue Reading
              <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 p-t-30">
        <!-- Block1 -->
        <div class="blo1">
          <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom pos-relative">
            <a href="blog-detail.html"><img src="images/blog-03.jpg" alt="IMG-INTRO"></a>

            <div class="time-blog">
              12 Dec 2017
            </div>
          </div>

          <div class="wrap-text-blo1 p-t-35">
            <a href="blog-detail.html"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
              Style the Wedding Party
            </h4></a>

            <p class="m-b-20">
              Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
            </p>

            <a href="blog-detail.html" class="txt4">
              Continue Reading
              <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Booking -->
<section class="section-booking bg1-pattern p-t-100 p-b-110" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-b-30">
        <div class="t-center">
          <h3 class="tit3 t-center m-b-35 m-t-2">
            Contact Us via Message
          </h3>
        </div>

        <form class="wrap-form-booking">
          <div class="row">

            <div class="col-md-12">
              <!-- Name -->
              <span class="txt9">
                Name
              </span>

              <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Name">
              </div>

              <!-- Phone -->
              <span class="txt9">
                Phone
              </span>

              <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="phone" placeholder="Phone">
              </div>

              <!-- Email -->
              <span class="txt9">
                Email
              </span>

              <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Email">
              </div>


              <span class="txt9">
                Message
              </span>

              <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                <textarea class="bo-rad-10 sizefull txt10 p-l-20" placeholder="Message"></textarea>
              </div>
            </div>
          </div>

          <div class="wrap-btn-booking flex-c-m m-t-12">
            <!-- Button3 -->
            <button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
              Send
            </button>
          </div>
        </form>
      </div>

      <div class="col-lg-6 p-b-30 p-t-18">
        <div class="wrap-pic-booking size2 bo-rad-10 hov-img-zoom m-l-r-auto">
          <img src="images/booking-01.jpg" alt="IMG-OUR">
        </div>
      </div>
    </div>
  </div>
</section>
