<header>
  <!-- Header desktop -->
  <div class="wrap-menu-header gradient1 trans-0-4">
    <div class="container h-full">
      <div class="wrap_header trans-0-3">
        <!-- Logo -->
        <div class="logo">
          <a href="index.html">
            <img src="assets/images/icons/logo.png" alt="IMG-LOGO" data-logofixed="images/icons/logo2.png">
          </a>
        </div>

        <!-- Menu -->
        <div class="wrap_menu p-l-45 p-l-0-xl">
          <nav class="menu">
            <ul class="main_menu">
              <li>
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
              </li>

              <li>
                <a routerLink="menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Menu</a>
              </li>

              <li>
                <a routerLink="table" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Reservation</a>
              </li>

              <li>
                <a routerLink="blog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Blog</a>
              </li>

              <li>
                <a routerLink="contactus" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Social -->
        
      </div>
    </div>
  </div>
</header>
