<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern" id="menu">
  <div class="container">
    <div class="title-section-ourmenu t-center m-b-22">
      <span class="tit2 t-center">
        Discover
      </span>

      <h3 class="tit5 t-center m-t-2">
        Our Menu
      </h3>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
        <div class="wrap-item-mainmenu p-b-22">
          <h3 class="tit-mainmenu tit10 p-b-25">
            STARTERS
          </h3>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Pine nut sbrisalona
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $29.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Aenean eu
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.35
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Feugiat maximus neque pharetra
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Sed feugiat
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $12.19
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Consectetur
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $21.89
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Etiam cursus facilisis tortor
            </span>
          </div>
        </div>

        <div class="wrap-item-mainmenu p-b-22">
          <h3 class="tit-mainmenu tit10 p-b-25">
            Drinks
          </h3>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Vivamus pretium
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $29.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Duis pharetra ligula
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.35
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Feugiat maximus neque pharetra
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                In eu dolor
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $53.34
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Feugiat maximus
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $62.45
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-lg-6 p-l-35 p-l-15-lg m-l-r-auto">
        <div class="wrap-item-mainmenu p-b-22">
          <h3 class="tit-mainmenu tit10 p-b-25">
            Main
          </h3>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Duis sed aliquet
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $31.18
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Suspendisse
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $70.25
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Feugiat maximus neque pharetra
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Scelerisque sed
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $36.19
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Etiam cursus facilisis tortor
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Mollis nulla
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.50
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Convallis augue
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $29.15
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Maecenas tristique
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $29.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Feugiat maximus neque pharetra
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Duis tincidunt
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.35
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>
        </div>

        <div class="wrap-item-mainmenu p-b-22">
          <h3 class="tit-mainmenu tit10 p-b-25">
            Dessert
          </h3>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                tempus aliquet
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $9.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Proin lacinia nisl ut ultricies posuere nulla
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                scelerisque
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $19.35
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Sed fermentum eros vitae eros
            </span>
          </div>

          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
                Cras maximus
              </a>

              <div class="line-item-mainmenu bg3-pattern"></div>

              <div class="price-item-mainmenu txt22">
                $5.79
              </div>
            </div>

            <span class="info-item-mainmenu txt23">
              Duis pharetra ligula at urna dignissim
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
