<section class="section-booking bg1-pattern p-t-100 p-b-110" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-b-30">
        <div class="t-center">
          <h3 class="tit3 t-center m-b-35 m-t-2">
            Contact Us via Message
          </h3>
        </div>

        <form class="wrap-form-booking">
          <div class="row">

            <div class="col-md-12">
              <!-- Name -->
              <span class="txt9">
                Name
              </span>

              <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Name">
              </div>

              <!-- Phone -->
              <span class="txt9">
                Phone
              </span>

              <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="phone" placeholder="Phone">
              </div>

              <!-- Email -->
              <span class="txt9">
                Email
              </span>

              <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Email">
              </div>


              <span class="txt9">
                Message
              </span>

              <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                <textarea class="bo-rad-10 sizefull txt10 p-l-20" placeholder="Message"></textarea>
              </div>
            </div>
          </div>

          <div class="wrap-btn-booking flex-c-m m-t-12">
            <!-- Button3 -->
            <button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
              Send
            </button>
          </div>
        </form>
      </div>

      <div class="col-lg-6 p-b-30 p-t-18">
        <div class="wrap-pic-booking size2 bo-rad-10 hov-img-zoom m-l-r-auto">
          <img src="assets/images/booking-01.jpg" alt="IMG-OUR">
        </div>
      </div>
    </div>
  </div>
</section>
